* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header, .footer, .content {
    padding: 12px 168px;
    display: flex;
}

.header, .footer, .website-intro {
    background-color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.header {
    justify-content: space-between;
}

.right-link-header {
    padding: 12px;  
}

.right-link-header ul {
    display: flex;
    gap: 12px;
}

.right-link-header ul li {
    font-size: 18px;
    color: #E5E7EB;
}


.left-link-header {
    padding: 12px;
}

.left-link-header ul li {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}