* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header, .footer {
    padding: 12px 180px;
    display: flex;
}

.header, .footer, .website-intro {
    background-color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.header {
    justify-content: space-between;
    min-height: 168px;
    flex-shrink: 0;
}

.content {
    flex-direction: column;
    padding: 0;
    flex: 1;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    align-items: center;
}

.right-link-header { 
    padding-top: 12px;
}

.right-link-header ul {
    display: flex;
    gap: 12px;
}

.right-link-header ul li {
    font-size: 18px;
    color: #E5E7EB;
}

.left-link-header {
    padding-top: 12px;
}

.left-link-header ul li {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

/* Content */

.website-intro, .info-section, .quote-section, .signup-section {
    padding-top: 84px !important;
    padding-bottom: 84px !important;
}


.website-intro {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 16px 180px;
    flex-shrink: 0;
    gap: 64px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 48px;
}

.intro-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.intro-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.intro-image {
    height: 250px;
    width: 900px;
}

.heroimage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.signup-hero{
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 8px 32px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.info-section {
    display: flex;
    padding: 16px 180px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-text {
    font-size: 18px;
    color: gray;
    text-align: center;
}

.info-cards {
    display: flex;
    gap: 24px;
    padding: 0 64px;
}

.card {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}

.info-img {
    width: 160px;
    height: 160px;
    border:#3882F6 4px solid;
    border-radius: 16px;
}

.quote-section {
    display: flex;
    padding: 16px 244px;
    flex-direction: column;
    gap: 32px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author-text {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 22px;
}

.signup-section {
    display: flex;
    padding: 16px 180px;
}

.signup {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    height: 150px;
    border-radius: 16px;
    padding: 0px 84px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.signup-heading {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.signup-subtext {
    color: #f9faf8;
    font-size: 18px;
}

.signup-normal {
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px white solid;
    padding: 8px 32px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}